
<div class="container allRecipesContainerNav">
  <div class="row">
    
    <div class="col-md-12 allRecipesNav">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-link" ng-click="searchRecipesText.type=''">Les Recettes</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entrées <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><button type="button" class="btn btn-link" ng-click="searchRecipesText.type='entree'">Toutes</button></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a href="">Entrées Froides</a></li>
            <li class="disabled"><a href="">Entrées Chaudes</a></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a href="">Potages, Soupes</a></li>
            <li class="disabled"><a href="">Salades</a></li>
            <li class="disabled"><a href="">Terrines, pâtés</a></li>
            <li class="disabled"><a href="">Cakes Salé</a></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a href="">Végétarien</a></li>
          </ul>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plats <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><button type="button" class="btn btn-link" ng-click="searchRecipesText.type='plat'">Tous</button></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a href="">Plats Froids</a></li>
            <li class="disabled"><a href="">Plats Chauds</a></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a href="">Viandes</a></li>
            <li class="disabled"><a href="">Poissons et Fruits de Mer</a></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a href="">Végétarien</a></li>
          </ul>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Desserts <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><button type="button" class="btn btn-link" ng-click="searchRecipesText.type='dessert'">Tous</button></li>
            <li role="seperator" class="divider"></li>
            <li class="disabled"><a href="">Gateaux</a></li>
            <li class="disabled"><a href="">Cakes sucré</a></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a href="">Tout Chocolat</a></li>
            <li class="disabled"><a href="">Desserts aux Fruits</a></li>
          </ul>
        </div>
      </div><!-- /.button-group-justified -->
    </div><!-- /.allRecipesNav -->
    

    <div class="col-md-12">
      <div class="wrap">
          <div class="search"> <a class="js-scrollTo" href="#showAllRecipes">
              <input type="text" class="searchTerm" ng-model="searchRecipesText.titre" placeholder="* Trouver une Recette *"></a>
          </div>
      </div>
    </div>
    
  </div><!-- /.row -->
</div><!-- /.container -->

 
<div class="container allRecipesPresentation">
    <div class="row">
  

    <div id="carousel-recipes-generic" class="carousel slide col-md-8" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-recipes-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-recipes-generic" data-slide-to="1"></li>
        <li data-target="#carousel-recipes-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active carItem">
          <img src="../assets/entrees/salad.jpg" alt="...">
          <div class="carousel-caption">
            <h2>Voilà l'été, avec ses salades ! ...</h2>
            <p>Leurs couleurs et leurs saveurs vont ensoleiller vos assiettes</p>
          </div>
        </div>
        <div class="item carItem">
          <img src="../assets/plats/brochette.jpg" alt="...">
          <div class="carousel-caption">
            <h2>Les Grillades</h2>
            <p>Un moment a partager en famille et entre amis</p>
          </div>
        </div>
        <div class="item carItem">
          <img src="../assets/desserts/cookies.jpg" alt="...">
          <div class="carousel-caption">
            <h2>Les Cookies "So Goodies"</h2>
          </div>
        </div>
      </div>
    </div><!-- /.carousel slide -->

    <div class="col-md-4 g_boxSignIn">
      <center>
        <h2>Goodies</h2>
        <h5>La meilleur méthode<br>pour inviter<br> ses amis<br>à dîner <span>!!</span></h5>
        <a href="#/signup" class="btn btn-link btn-lg btnSignIn">S'inscrire</a>
      </center>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->



<!-- Display of mini recipes =================================================== -->

<div class="container"  style="position:relative; top:130px;">
  <div class="row" >
       
      <div ng-repeat="recette in recettes | filter:searchRecipesText | orderBy:'titre'">
        <div class="col-md-3 g_boxImg" ng-click="id(recette)">
          <img class="g_imgRec col-md-12" src={{recette.img}} alt="">
          <div class="g_titreRec col-md-10">{{recette.titre}}</div>
        </div>
      </div>
    
  </div><!-- /.row -->
</div><!-- /.container -->


<!-- See recipe at the click of mini ============================================ -->
<div class="container seeRecipeContainer">
  <div class="row">
    
    <div class="col-md-12">
      <div>
        <img src="{{clickRecipe.img}}" alt="" class="g_imgRecipe">
      </div>
    </div>

  </div><!-- /.row -->
</div><!-- /.container -->