
<!-- =========================== CREATE EVENT ============================================ -->


<!-- formulaire 1 ============================================================= -->
<div ng-show="creform == 1">
	<div class="container contDetailsEvent">
		<div class="headingEvent">
			<h2 class="page-header" style="margin-top:0; padding-bottom: 0px;">Créer mon événement</h2>
		</div>

		<div class="col-md-offset-1 col-md-10">
			<div class="row">
				<p style="text-align:center;font-weight:bold;">Etape 1</p>
				<h5 style="font-weight:bold;font-size:2.5rem;border-bottom:1px solid #e2e0e0;text-align:center">Détails</h5>

					<!-- bouton annuler -->
					<a href="#/events" class="btn btn-link btnBackEvent pull-left" data-toggle="tooltip" data-placement="bottom" title="Retour à ma liste d'événements">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Annuler
					</a>

					<!-- bouton suivant -->
					<button type="submit" class="btn btn-link btnNextEvent pull-right" data-toggle="tooltip" data-placement="bottom" title="Passer à l'étape 2 / Repas" ng-click="geoloc()">Suivant
						<span class="glyphicon glyphicon-chevron-right chevron" aria-hidden="true"></span>
					</button>
			</div>
		</div>

		<div class="col-md-12">
			<div class="row">
				<div class="col-md-offset-1 col-md-10" style="border: 1px dotted #333; border-radius: 5px; margin-top: 60px; padding: 15px; margin-bottom: 25px;">
				<p class="pull-right" style="font-size:1rem;">Tous les champs sont requis</p>

					<!-- formulaire: nom -->
					<div class="col-md-offset-1 col-md-10">
						<div class="form-group">
							 <label>Nommer mon événement :</label>
							 <input name="crEnameForm" type="text" id="crEnameForm" class="form-control"  placeholder="Nom" ng-model="data.crEnameForm" ng-required="true">
						</div>
					</div>

					<!-- formulaire: date -->
					<div class="col-md-offset-1 col-md-5">
						<div class="form-group">
							 <label><span class="glyphicon glyphicon-calendar"></span> Date :</label>
							 <input name="date" type="date" id="crEdateForm" class="form-control" ng-model="data.crEdateForm" ng-required="true"/>
						</div>
					</div>

					<!-- formulaire: heure -->
					<div class="col-md-5">
						<div class="form-group">
							 <label><span class="glyphicon glyphicon-time"></span> Heure : </label>
							 <input name="time" type="time" id="crEtimeForm" class="form-control" ng-model="data.crEtimeForm">
						</div>
					</div>

					<!-- checkbox (at home) -->
					<div class="form-group creformhome">
						<label><span class="glyphicon glyphicon-home"></span> chez moi : </label>
						<input name="home" type="checkbox" id="crEhomeCheckbox" value="home" ng-click="adress()"/>
					</div>

					<!-- formulaire: N° de rue -->
					<div class="col-md-offset-1 col-md-3">
						<div class="form-group">
							 <label> N° : </label>
							 <input name="number" type="number" min="1" max="9999" id="crEnumberForm" class="form-control" ng-model="data.crEnumberForm" ng-required="true"/>
						</div>
					</div>

					<!-- formulaire: rue -->
					<div class="col-md-7">
						<div class="form-group">
							<label><span class="glyphicon glyphicon-road"></span> Rue : </label>
							<input name="way" type="text" id="crEwayForm" class="form-control" placeholder="Adresse" ng-model="data.crEwayForm" ng-required="true"/>
						</div>
					</div>

					<!-- formulaire: ville -->
					<div class="col-md-offset-1 col-md-7">
						<div class="form-group">
							<label>Ville : </label>
							<input name="city" type="text" id="crEcityForm" class="form-control" placeholder="Ville" ng-model="data.crEcityForm" ng-required="true"/>
						</div>
					</div>

					<!-- formulaire: code postal -->
					<div class="col-md-3">
						<div class="form-group">
							<label>Code postal : </label>
							<input name="postalcode" type="text" id="crEpostalcodeForm" class="form-control" placeholder="Code postal" ng-model="data.crEpostalcodeForm" ng-required="true"/>
						</div>
					</div>

					<!-- formulaire: pays -->
					<div class="col-md-offset-1 col-md-7">
						<div class="form-group">
							<label><span class="glyphicon glyphicon-globe"></span> Pays : </label>
							<input name="country" type="text" id="crEcountryForm" class="form-control" placeholder="Pays" ng-model="data.crEcountryForm" ng-required="true"/>
						</div>
					</div>

				</div><!-- /.col-md-offset-1 col-md-10 -->
			</div><!-- /. row -->
		</div><!-- /. col-md-12 -->
	</div><!-- /. Container -->
</div><!-- /. Creform1 -->


<!-- formulaire 2 ========================================================== -->
<div ng-show="creform == 2">
	<div class="container" style="background-color:#f8f8f8; padding-left:0; padding-right:0; border-radius:5px; margin-top:75px;">
		<div class="headingEvent">
			<h2 class="page-header" style="margin-top:0; padding-bottom: 0px;">Créer mon événement</h2>
		</div>

		<div class=" col-md-offset-1 col-md-10">
			<div class="row">
				<p style="text-align:center;font-weight:bold;">Etape 2</p>
				<h5 style="font-weight:bold;font-size:2.5rem;border-bottom:1px solid #e2e0e0;text-align:center">Repas</h5>

				<!-- bouton retour -->
				<button type="button" class="btn btn-link btnBackEvent pull-left" data-toggle="tooltip" data-placement="bottom" title="Retour à l'étape 1 / Détails" ng-click="creform = creform-1">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Retour
				</button>

				<!-- bouton suivant -->
				<button type="button" class="btn btn-link btnNextEvent pull-right" data-toggle="tooltip" data-placement="bottom" title="Passer à l'étape 3 / Invitation" ng-click="creform = creform+1">Suivant
					<span class="glyphicon glyphicon-chevron-right chevron" aria-hidden="true"></span>
				</button>
			</div>
		</div>

		<div class=" col-md-offset-1 col-md-10">
			<div class="row">
			<div class="col-md-12 allRecipesNav">
			  <div class="btn-group btn-group-justified" role="group" aria-label="...">
				 <div class="btn-group" role="group">
					<button type="button" class="btn btn-link" ng-click="showRecette=''">Les Recettes</button>
				 </div>
				 <div class="btn-group" role="group">
					<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entrées <span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
					  <li><button type="button" class="btn btn-link" ng-click="showRecette='entree'">Toutes</button></li>
					  <li role="separator" class="divider"></li>
					  <li class="disabled"><a href="">Entrées Froides</a></li>
					  <li class="disabled"><a href="">Entrées Chaudes</a></li>
					  <li role="separator" class="divider"></li>
					  <li class="disabled"><a href="">Potages, Soupes</a></li>
					  <li class="disabled"><a href="">Salades</a></li>
					  <li class="disabled"><a href="">Terrines, pâtés</a></li>
					  <li class="disabled"><a href="">Cakes Salé</a></li>
					  <li role="separator" class="divider"></li>
					  <li class="disabled"><a href="">Végétarien</a></li>
					</ul>
				 </div>
				 <div class="btn-group" role="group">
					<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plats <span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
					  <li><button type="button" class="btn btn-link" ng-click="showRecette='plat'">Tous</button></li>
					  <li role="separator" class="divider"></li>
					  <li class="disabled"><a href="">Plats Froids</a></li>
					  <li class="disabled"><a href="">Plats Chauds</a></li>
					  <li role="separator" class="divider"></li>
					  <li class="disabled"><a href="">Viandes</a></li>
					  <li class="disabled"><a href="">Poissons et Fruits de Mer</a></li>
					  <li role="separator" class="divider"></li>
					  <li class="disabled"><a href="">Végétarien</a></li>
					</ul>
				 </div>
				 <div class="btn-group" role="group">
					<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Desserts <span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
					  <li><button type="button" class="btn btn-link" ng-click="showRecette='dessert'">Tous</button></li>
					  <li role="seperator" class="divider"></li>
					  <li class="disabled"><a href="">Gateaux</a></li>
					  <li class="disabled"><a href="">Cakes sucré</a></li>
					  <li role="separator" class="divider"></li>
					  <li class="disabled"><a href="">Tout Chocolat</a></li>
					  <li class="disabled"><a href="">Desserts aux Fruits</a></li>
					</ul>
				 </div>
			  </div><!-- /.button-group-justified -->
			</div><!-- /.allRecipesNav -->
		</div><!-- /.row -->
		</div>


		<!-- Affichage des miniatures ==========================================-->
		<div class="col-md-12 boxMini">
			<div class="row">
				<div class="contentMenu">
			      <div class="col-md-12">
		            <div ng-repeat="recette in recettes | filter:searchRecipesText | orderBy:'titre' | filter : {type: showRecette, userId: userId}">
			          	<div  ng-click="addRecette(recette._id, $index)" style="cursor: pointer">
			            	<div class="col-md-3 g_boxMiniRecipes" ng-click="id(recette)">
			              		<img class="g_imgMiniRecipes col-md-12" src={{recette.img}} alt="image">
			              		<div class="g_titleMiniRecipes col-md-10">{{recette.titre}}</div>
			              		<center>
			              			<span id="gly{{$index}}" ng-show="gly{{$index}}" class="glyphicon glyphicon-ok gly" aria-hidden="true"></span>
			              		</center>
			            	</div>
			            </div>
			         </div>
			      </div>
		      </div>
		   </div>
		</div>

	</div><!-- End container -->
</div><!-- / end creform 2 -->


<!-- formulaire 3 ============================================================ -->
<div ng-show="creform == 3">
	<div class="container" style="background-color:#f8f8f8; padding-left:0; padding-right:0; border-radius:5px; margin-top:75px;">
		<div class="headingEvent">
			<h2 class="page-header" style="margin-top:0; padding-bottom: 0px;">Créer mon événement</h2>
		</div>

		<div class=" col-md-offset-1 col-md-10">
			<div class="row">
				<p style="text-align:center;font-weight:bold;">Etape 3</p>
				<h5 style="font-weight:bold;font-size:2.5rem;border-bottom:1px solid #e2e0e0;text-align:center">Invitation(s)</h5>

				<!-- bouton retour -->
				<button type="button" class="btn btn-link btnBackEvent pull-left" data-toggle="tooltip" data-placement="bottom" title="Retour à l'étape 2 / Repas" ng-click="creform = creform-1">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Retour
				</button>

				<!-- bouton suivant -->
				<button type="submit" class="btn btn-link btnNextEvent pull-right" data-toggle="tooltip" data-placement="bottom" title="Créer mon événement" ng-click="add()">Créer
					<span class="glyphicon glyphicon-chevron-right chevron" aria-hidden="true"></span>
				</button>
			</div>
		</div>

		<div class="col-md-offset-1 col-md-10">
			<div class="row">

					<div class="contentFriend">
						<div class="col-md-5">
							<label>Rechercher des amis :</label>
							<div class="form-group">
								  <input type="search" ng-model="rechercheAmi" class="form-control" id="search" autocomplete="on" placeholder="recherche par nom ou prénom" autosave/>
							</div>
						</div>


						<div class="col-md-offset-2 col-md-5">
							<label>Ajouter des amis :</label>
							<div class="form-group">
								<input type="text" id="friendfirstname" class="form-control" ng-model="dataFriends.prenom" placeholder="Prénom" minlength="3"  maxlength="10" required />
								<input type="text" id="friendlastname" class="form-control" ng-model="dataFriends.name" placeholder="Nom" minlength="3"  maxlength="10" ng-required="true" />
								<input name="email" type="email" id="friendmail" class="form-control" ng-model="dataFriends.email" placeholder="Email" required/>
								<button type="submit" class="btn btn-default pull-right" ng-click="addFriends()">Ajouter</button>
							</div>
						</div>
					</div>
			</div><!-- End row -->
		</div><!-- End col-md-12 -->

		<label class="col-md-12" style="text-align: center;">Sélectionner des amis :</label>
		<div class="col-md-offset-1 col-md-10 boxfriend">
			<div class="row">

							<div class="form-group">
								<div class="searchable-container">
									 <div class="items col-xs-5 col-sm-5 col-md-6 col-lg-3" style="width:245px;" ng-repeat="friend in friends | filter: rechercheAmi">
										  <div class="info-block block-info clearfix" ng-click="addFriendEvent(friend._id)">
												<div data-toggle="buttons" class="btn-group bizmoduleselect">
													 <label class="btn btn-default">
														  <div class="bizcontent">
															  <input type="checkbox" name="var_id[]" autocomplete="off" value="">
																					<img ng-hide="friend.img" class="imageProfileSmall" src="./assets/user-default.png" alt="" />
																					<img ng-show="friend.img" class="imageProfileSmall" src="{{friend.img}}" alt="" />
															  <h5>{{friend.prenom}}</h5>
																					<h5>{{friend.name}}</h5>
																					<p><span class="glyphicon glyphicon-ok glyphicon-lg"></span></p>
														  </div>
													 </label>
												</div>
										  </div>
									 </div>
								</div><!-- / end searchable-container -->
							</div><!-- / End form groupe -->

				</div>
			</div>



	</div><!-- End container -->
</div><!-- / end creform3 -->
