<!-- Upload image -->
<div class="container contEv">
  <div class="headingEvent">
    <h2 class="page-header" style="margin-top:0; padding-bottom: 0px;">
      Créer votre entrée</h2>
  </div>
  <div class="col-md-10">
    <input class="form-control col-md-7" type="text" name="name" placeholder="Vous pouvez ajouter une url marmiton" ng-model="data.url">
    <button type="button" class="btn btn-default" ng-click="test()">
      Ajouter</button>
  </div>
  <div class="col-md-6">
    <input type="text" class="form-control" id="inputTitre" placeholder="Titre de votre entrée exemple : Tartare de tommate fraiche" ng-model="titre"><br>
    <input type="text" class="form-control" id="inputDescription" placeholder="Description exemple : Une entrée pour l'été" ng-model="description"><br>
    <div class="col-md-6">
      <p>Temps de préparation :</p>
      <input type="number" value="0" min="0" class="form-control col-md-4" id="inputPreparation" placeholder="Minute(s)" ng-model="preparation"><br>
    </div>
    <div class="col-md-6">
      <p>Temps de cuisson :</p>
      <input type="number" value="0" min="0" class="form-control col-md-4" id="inputCuisson" placeholder="Minute(s)" ng-model="cuisson"><br>
    </div>
    <div class="col-md-4">
        <label>Nb personne :</label>
      <input type="number" value="0" min="0" class="form-control col-md-4" id="inputNbrPersonne" ng-model="NbrPersonne"><br>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Difficulté :</label>
        <select class="form-control" id="selectDifficulte" ng-model="difficulte">
          <option value="0" >Très facile</option>
          <option value="1">Facile</option>
          <option value="2">Moyenne</option>
          <option value="3">Difficile</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <label>Prix :</label>
      <input type="number" value="0" min="0" class="form-control col-md-4" id="inputPrix" ng-model="prix"><br>
    </div>
  </div>
  <div class="col-md-6">
    <p>Ingredients
    </p>
    <textarea type="text" class="form-control" id="inputIngredient" name="ingredient" placeholder="Les ingrédient" ng-model="ingredient"></textarea>
    <p>Recette</p>
    <textarea type="text" class="form-control" id="inputRecette" name="recette" placeholder="La recette" ng-model="recette"></textarea>
  </div>
  <div class="col-md-5">
    <div flow-init="{target: '/upload', singleFile: true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="uploader.flow" flow-files-added="processFiles($files)">
      <div ng-hide="y == 1 || recetteMarmiton.image">
        <button type="button" class="btn btn-default" flow-btn flow-attrs="{accept:'image/*'}" type="file" id="btnImage"><img class="placeholder" src="./assets/desserts/placeholder.png" alt="addimage"/></button>
      </div>
      <div ng-repeat="image in uploader.flow.files track by $index">
        <img ng-show="out" class="preview" flow-img="image"/>
        <img class="preview" ng-src="{{imageStrings[$index]}}"/>
        <span class="btn glyphicon glyphicon-trash trashColor" ng-show="$flow.files.length" ng-click="cancel(image)"></span>
      </div>
      <img ng-show="recetteMarmiton.image" class="preview" src="{{recetteMarmiton.image}}" alt=""/>
    </div>
  </div>
  <div class="col-md-10">
    <a href="#/menu">
      <button type="submit" class="btn btn-success btn-lg valid" data-dismiss="modal">Retour au recette</button>
    </a>
    <button type="submit" class="btn btn-success btn-lg valid" data-dismiss="modal" ng-click="add('entree')">Valider</button>
  </div>
</div>
