<!-- CREATE EVENT ===========================
============================================= -->

<div class="container crE-container">
	<div class="row">
		<div class="col-md-12">

			<!-- formulaire 1 ============================================================= -->
			<div ng-show="creform == 1">
				<!-- formulaire: nom -->
            <div class="form-group">
                <label>Nommer mon événement :</label>
                <input name="name" type="text" id="crEnameForm" class="form-control"  placeholder="Nom" ng-model="crEnameForm" required/>
            </div>

				<!-- formulaire: date -->
            <div class="form-group">
                <label><span class="glyphicon glyphicon-calendar"></span> Date :</label>
                <input name="date" type="date" id="crEdateForm" class="form-control" ng-model="crEdateForm" required/>
            </div>

            <!-- formulaire: heure -->
            <div class="form-group">
                <label><span class="glyphicon glyphicon-time"></span> Heure : </label>
                <input name="time" type="time" id="crEtimeForm" class="form-control" ng-model="crEtimeForm">
            </div>

	         <!-- checkbox (at home) -->
	         <div class="form-group">
	         	<label><span class="glyphicon glyphicon-home"></span> chez moi : </label>
	         	<input name="home" type="checkbox" id="crEhomeCheckbox" value="home" ng-click="adress()"/>
	         </div>

				<!-- formulaire: N° de rue -->
            <div class="form-group">
                <label> N° : </label>
                <input name="number" type="number" id="crEnumberForm" class="form-control" ng-model="crEnumberForm" required/>
            </div>

				<!-- formulaire: rue -->
            <div class="form-group">
            	<label><span class="glyphicon glyphicon-road"></span> Rue : </label>
            	<input name="way" type="text" id="crEwayForm" class="form-control" placeholder="Adresse" ng-model="crEwayForm" required/>
        		</div>

            <!-- formulaire: ville -->
            <div class="form-group">
               <label>Ville : </label>
               <input name="city" type="text" id="crEcityForm" class="form-control" placeholder="Ville" ng-model="crEcityForm" required/>
            </div>

			   <!-- formulaire: code postal -->
			  	<div class="form-group">
			    	<label>Code postal : </label>
          		<input name="postalcode" type="text" id="crEpostalcodeForm" class="form-control" placeholder="Code postal" ng-model="crEpostalcodeForm" required/>
        		</div>

          	<!-- formulaire: pays -->
          	<div class="form-group">
		         <label><span class="glyphicon glyphicon-globe"></span> Pays : </label>
		         <input name="country" type="text" id="crEcountryForm" class="form-control" placeholder="Pays" ng-model="crEcountryForm" required/>
				</div>

				<a href="#/events" class="btn btn-danger" role="button">Annuler</a>
				<button type="button" class="btn btn-default pull-right" ng-click="creform = creform+1">Suivant</button>
			</div><!-- / formulaire 1 -->


			<!-- formulaire 2 ========================================================== -->
			<div ng-show="creform == 2">
				<h4>Choisir des plats</h4>

				<button id="affiche">Retour à la carte</button>
				<!-- <button id="cache">Faire disparaître les images</button><br /> -->

				<div class="container col-md-12">
					<div class="row">
					  	<div class="item itemApp col-md-offset-3 col-md-2" id="itemApp2">
					    	<div class="content">
					      		<img src="../assets/salad-bowl.png" class="appetizer">
					      		<p>Entrée</p>
					    	</div>
					  	</div>
					  	<div class="item itemMain col-md-offset-1 col-md-2" id="main">
						    <div class="content">
						      	<img src="../assets/chicken.png" class="mainPlat">
					      		<p>Plat</p>
					    	</div>
					  	</div>
					  	<div class="item itemDessert col-md-offset-1 col-md-2" id="dessert">
					   		<div class="content">
					      		<img src="../assets/birthday-cake.png" class="dess">
					      		<p>Dessert</p>
					    	</div>
					  	</div>
					</div>
				</div>

				<button type="button" class="btn btn-warning pull-left" ng-click="creform = creform-1">Retour</button>
				<button type="button" class="btn btn-default pull-right" ng-click="creform = creform+1">Suivant</button>
			</div><!-- / formulaire 2 -->


			<!-- formulaire 3 ============================================================ -->
			<div ng-show="creform == 3">
				<h4>Invitations :</h4>

				<div class="col-md-6">
        			<h5>Rechercher un(e) ami(e)s.</h5>
		        	<div class="form-group">
		            <div class="col-sm-12 col-md-12">
		              <input type="search" class="form-control" id="search" placeholder="Recherche par nom">
		            </div>
		        	</div>
		      </div>

      		<div class="col-md-6">
					<h5>Ajouter un(e) ami(e)s</h5>
					<div class="form-group">
						<input type="text" id="friendlastname" class="form-control" ng-model="dataFriends.friendlastname" placeholder="Nom"/>
						<input type="text" id="friendfirstname" class="form-control" ng-model="dataFriends.friendfirstname" placeholder="Prénom"/>
						<input type="email" id="friendmail" class="form-control" ng-model="dataFriends.friendmail" placeholder="Email" required/>
						<button type="submit" class="btn btn-default" ng-click="addFriends()">Ajouter</button>
					</div>
				</div>



				<div class="form-group">
	            <div class="searchable-container">

	                <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3" ng-repeat="friend in friends">
	                    <div class="info-block block-info clearfix">
	                        <div class="square-box pull-left">
	                            <span class="glyphicon glyphicon-tags glyphicon-lg"></span>
	                        </div>
	                        <div data-toggle="buttons" class="btn-group bizmoduleselect">
	                            <label class="btn btn-default">
	                                <div class="bizcontent">
	                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
	                                    <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
	                                    <h5>{{friend.friendfirstname}} {{friend.friendlastname}}</h5>
	                                </div>
	                            </label>
	                        </div>
	                    </div>
	                </div>

	            </div><!-- / end searchable-container -->
	        	</div><!-- / end form group -->

				<div class="col-md-12 myfoot">
					<button type="button" class="btn btn-warning pull-left" ng-click="creform = creform-1">Retour</button>
	     			<button type="submit" class="btn btn-success pull-right" ng-click="add()">Créer</button>
				</div>
			</div><!-- / formulaire 3 -->

		</div><!-- / col-md-12 -->
	</div><!-- / row -->
</div><!-- / container -->
