


<div class="container">
	<div class="row">
	</div>

	<div class="container col-md-7 contEv">
			<div class="headingEvent">
				<h2 class="page-header" style="margin-top:0; padding-bottom: 0px;"> Mes Evenements</h2>
			</div>
		<div class="row" style="margin-left: 10px; margin-right: 10px;">
			<div>
				<ul class="nav nav-tabs ntev">
					<li role="presentation" class="active"><a href="#">J'organise <span class="badge" style="margin-left:10px;" ng-show="nbEvents != 0">{{nbEvents}}</span></a></li>
					<li role="presentation"><a href="#">Invitations <span class="badge" style="margin-left:10px;" ng-show="">{{nbInvit}}</span></a></li>
					<a href="#/createEvent" class="btn btn-success pull-right" role="button"><span class="glyphicon glyphicon-plus"></span> Créer </a>
				</ul>
			</div>
		
			<!-- <img src="../assets/calendar.png" class="circle" alt=""> -->
			<div class="col-md-12">
			<ul class="list-group" style="margin-top:32px;">
			    <button type="button" ng-repeat="event in events" class="list-group-item">
			    	<h4 class="list-group-item-heading">{{event.crEnameForm}}</h4>
			    	
			    </button>
			</ul>
			</div>
		</div>
	</div>
</div>


	
