<div class="row">
    <div class="contEv container">
        <div class="headingEvent">
            <h2 class="page-header" style="margin-top:0; padding-bottom: 0px;"> <span ng-show="user.img"><img class="imageProfileXS" src="{{user.img}}" alt="" /></span><span ng-hide="user.img"><img class="imageProfileXS" src="./assets/user-default.png" alt="" /></span> {{user.name}} {{user.prenom}} histoique</h2>
        </div>
        <div class="col-md-offset-1 col-md-10">
            <div class="row">
              <div class="padding">
                <h2 ng-hide="events">Vous n'avez pas d'historique avec {{user.name}} {{user.prenom}}</h2>


              </div>
              <div class="panel panel-default" ng-repeat="event in history  | filter : {userId: userId} | orderBy: 'crEdateForm'">
                <div class="panel-heading" ng-click="geocodeAddress(event)" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}" style="cursor: pointer">
                  <h3 class="panel-title" style="font-size: 1.5em;">
                    {{event.crEnameForm}}<span style="float: right; font-weight:bold;">{{formatDate(event.crEdateForm)}}</span>
                  </h3>
                </div>
                <div id="collapse{{$index}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Adresse évènements</h4>
                        <p>n° {{event.crEnumberForm}} rue {{event.crEwayForm}}</p>
                        <p>{{event.crEpostalcodeForm}} {{event.crEcityForm}}</p>
                      </div>
                      <div class="col-md-12">
                        <h4>Liste des invités</h4>
                        <div class="" ng-repeat="amis in event.tabFriendEvent">
  												<div class="col-md-3">
  													<div class="card padding" ng-click="friendhistory(amis)">
  														<img ng-show='amis.img' class="imageProfileSmall center-block" src="{{amis.img}}" alt="" />
  														<img ng-hide='amis.img' class="imageProfileSmall center-block" src="./assets/user-default.png" alt="" />
  														<div class="RecetteTitle">{{amis.prenom}}</div>
  														<div class="RecetteTitle"> {{amis.name}}</div>
  														<div class="row">
  															<div class="RecetteDescription"></div>
  															<div class="RecettePreparation"></div>
  															<div class="RecetteCuisson"></div>
  														</div>
  													</div>
  												</div>
  											</div>
                      </div>

                      <div class="row">
                            <div class="col-md-12">
                              <h4>Menu</h4>

                                <div ng-repeat="recette in event.tabRecetteEvent">
                                  <div  ng-click="" style="cursor: pointer">
                                    <div class="col-md-3 g_boxMiniRecipes" ng-click="id(recette)">
                                        <img class="g_imgMiniRecipes col-md-12" src={{recette.img}} alt="image">
                                        <div class="g_titleMiniRecipes col-md-10">{{recette.titre}}</div>
                                    </div>
                                  </div>
                               </div>
                            </div>
                       </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

    </div>
  </div>
