<div class="backhome col-md-12">
  <center>
    <p>La meilleur méthode pour inviter</p>
    <p> ces proches à diner </p>
  </center>
  <div class="col-md-6 dessins">
    <center>
      <p>Proposition de Plats</p>
      <img src="./assets/food.png" alt="" />
    </center>
  </div>
  <div class="col-md-6 dessins">
    <center>
      <p>Créer vos propres Evènements</p>
      <img src="./assets/champagne.png" style="width=2px; heigth:auto;" >
    </center>
  </div>
</div>
<div class="homeCenter">
  <center class="homeCenterTitle"><p>Les Menus du mois</p></center>
  <div class="col-md-4"><center><img src="./assets/entre.jpg" alt=""></center></div>
  <div class="col-md-4"><center><img src="./assets/plat.jpg" alt=""></center></div>
  <div class="col-md-4"><center><img src="./assets/dessert.jpg" alt=""></center></div>
</div>
<div class="backsecond col-md-12">
  <div><center><p class="botTitle">Des idées " So Goodies "</center></p></div>
  <div class="boutonRecette">
    <div class="col-md-4 boutonRecette"><center><p ng-click="menuShow('entree')" id="entree" class="boutonActive">Entrées</p></center></div>
    <div class="col-md-4 boutonRecette"><center><p ng-click="menuShow('plat')" id="plat">Plats</p></center></div>
    <div class="col-md-4 boutonRecette"><center><p ng-click="menuShow('dessert')" id="dessert">Desserts</p></center></div>
  </div>
  <div>
      <!-- =============== DEBUT PHOTO RECETTE ================ -->
      <div class="flip-menu">
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="a">
          <label for="a" class="flip-item">
            <figure class="front"><img src="http://lorempixel.com/500/500/food/1" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/1" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="b">
          <label for="b" class="flip-item">
              <figure class="front"><img src="http://lorempixel.com/500/500/food/2" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/2" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="c">
          <label for="c" class="flip-item">
              <figure class="front"><img src="http://lorempixel.com/500/500/food/3" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/3" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="d">
          <label for="d" class="flip-item">
              <figure class="front"><img src="http://lorempixel.com/500/500/food/4" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/4" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="e">
          <label for="e" class="flip-item">
              <figure class="front"><img src="http://lorempixel.com/500/500/food/5" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/5" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="f">
          <label for="f" class="flip-item">
              <figure class="front"><img src="http://lorempixel.com/500/500/food/6" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/6" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="g">
          <label for="g" class="flip-item">
              <figure class="front"><img src="http://lorempixel.com/500/500/food/7" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/7" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="h">
          <label for="h" class="flip-item">
              <figure class="front"><img src="http://lorempixel.com/500/500/food/8" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/8" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="j">
          <label for="j" class="flip-item">
              <figure class="front"><img src="http://lorempixel.com/500/500/food/9" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/9" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="k">
          <label for="k" class="flip-item">
              <figure class="front"><img src="http://lorempixel.com/500/500/food/10" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/10" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="l">
          <label for="l" class="flip-item">
              <figure class="front"><img src="http://lorempixel.com/500/500/food/1" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/1" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
        <section class="flip-item-wrap">
          <img class="fake-image" src="http://lorempixel.com/500/500/food/1" alt=""><!-- this image will add height to parent element -->
          <input type="checkbox" class="flipper" id="m">
          <label for="m" class="flip-item">
              <figure class="front"><img src="http://lorempixel.com/500/500/food/2" alt=""></img></figure>
              <figure class="back">
                <img src="http://lorempixel.com/g/500/500/food/2" alt=""></img>
                <div class="flip-item-desc">
                  <h4 class="flip-item-title">Lorem ipsum dolor</h4>
                  <p>Dolor sit amet, consectetur adipiscing elit. Vestibulum posuere turpis lacus.</p>
                </div>
              </figure>
          </label>
        </section>
      </div>


      <!-- =============== DEBUT PHOTO RECETTE ================ -->

  </div>
</div>
