
<div class="container-fluid">
  <div class="row" style="background-color: rgba(0,0,0,0.4);">
  <div class='col-md-2'></div>
  <div class='col-md-8'>
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
  <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
          <h1>La meilleure méthode pour inviter<br> ses amis à dîner.</h1>
      </div>

      <div class="item">
        <h1>Créez vos événements.</h1>
      </div>

      <div class="item">
        <h1>Ajoutez et partagez vos recettes.
      </div>

      <div class="item">
        <h1><i class="fa fa-quote-left" aria-hidden="true"></i>
         Goodies <i class="fa fa-quote-right" aria-hidden="true"></i>
        </h1>
      </div>
    </div>

  </div>

  </div>
  <div class='col-md-2'></div>




  </div><!-- row -->
</div><!-- End container col-md-12 -->

<div class="container-fluid containerMid">
  <div class="saw"></div>
  <div class="row">
    <div class="container">
      <div class="col-md-3 col-sm-2 col-xs-6 vcenterL">
          <img src="../assets/icons/arabesque-left.png" class="img-responsive">

      </div>

        <div class="col-md-offset-1 col-md-4 col-sm-4 col-sx-4 boxMiddleSoGoodies">
          <div class="MiddleBox col-md-12">
            <div class="circlefontblue">
              <span class="fa fa-cutlery testlogo" aria-hidden="true"></span>
            </div>
            <div class="scrollable">
            <div class="items">
              <h3>Découvrez</h3>
              <p>toutes les idées</p>
              <h2>Recettes</h2>
            </div>
            </div>
            <a href="#/allRecipes" class="btn btn-link btn-lg col-md-offset-2 col-md-8 btnSoGoodies">" Goodies "</a>
          </div>
        </div>

      <div class="col-md-offset-1 col-md-3 col-xs-6 vcenterR">
        <img src="../assets/icons/arabesque-right.png" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid containerMiddle">
      <img src="../assets/icons/corner-left.png" class="pull-left" style="width:200px; margin-left: 80px;">
      <img src="../assets/icons/corner-right.png" class="pull-right" style="width:200px; margin-right: 80px;">

  <div class="wave"></div>

      <div class="ContainerCar">
        <center class="homeCenterTitle">
          <div class="page-header">
            <h2 style="color: #fff;">Un menu "So Goodies"</h2>
          </div>
            <p style="font-family:'oswald',Sans-serif; font-size: 2rem;">Sélectionné par vos votes.</p>
        </center>
          <ul class="Carouseltest">
            <li class="Items Front"><center><img src="../assets/entre.jpg" class="thumbnail thBestMeal"><div class="">St Jacques</div></center></li>
            <li class="Items Left"><center><img src="./assets/plat.jpg" class="thumbnail thBestMeal" alt="">Pasta Di Napoli</center>
            </li>
            <li class="Items Right"><center><img src="./assets/dessert.jpg" class="thumbnail thBestMeal" alt="">Fondant Chocolat</center></li>
            <!--  <li class="Items Right">4</li>
            <li class="Items Right2">5</li> -->
          </ul>
      </div>
      
</div><!-- End container-fluid containerMiddle -->

<div class="container-fluid">
      <footer>
        <nav>
          <center>
            <p>&copy; 2016 - Innov'Educ - Tous Droits Réservés</p>
            <h3 style="color:#333;">Goodies</h3>
            <a href="#/mentions_legales" style="color:#333; font-weight: bold;">Mentions Légales</a>
          </center>
        </nav>
      </footer> 
</div>

