<div class="backhome col-md-12">
  <center>
    <p>La meilleure méthode pour inviter</p>
    <p> ses proches à diner </p>
  </center>
  <div class="col-md-6 dessins">
    <center>
      <h1>Proposition de plats</h1>
      <img src="./assets/food.png" alt="" />
    </center>
  </div>
  <div class="col-md-6 dessins">
    <center>
      <h1>Création de vos propres évènements</h1>
      <img src="./assets/champagne.png" style="width=2px; heigth:auto;" >
    </center>
  </div>
</div>
<div class="homeCenter">
  <center class="homeCenterTitle"><h1 style="  font-family: 'Pacifico', cursive;
">Les Menus du mois</h1></center>
  <div class="col-md-4"><center><img src="./assets/entre.jpg" alt=""></center></div>
  <div class="col-md-4"><center><img src="./assets/plat.jpg" alt=""></center></div>
  <div class="col-md-4"><center><img src="./assets/dessert.jpg" alt=""></center></div>
</div>
<div class="backsecond col-md-12">
  <div><center><h1 style="  font-family: 'Pacifico', cursive;
">Des idées "So Goodies "</center></h1></div>
  <div>
    <div class="col-md-4 boutonRecette"><center>Entrées</center></div>
    <div class="col-md-4 boutonRecette"><center>Plats</center></div>
    <div class="col-md-4 boutonRecette"><center>Desserts</center></div>
  </div>
  <div>
    <div class="col-md-4"><center><img src="" alt=""></center></div>
    <div class="col-md-4"><center><img src="" alt=""></center></div>
    <div class="col-md-4"><center><img src="" alt=""></center></div>
  </div>
</div>
