<div class="container mentions">
	<div class="row">

		<div class="col-md-12" style="padding:50px;">
		<h2>Mentions Légales</h2>

		<h3>Information éditeur</h3>
		<li>Dénomination sociale : SAS, Innoveduc</li>
		<li>Siège social : 18 rue de la Gare 28240 La Loupe</li>
		<li>Capital :7 000 €</li>
		<li>N° de SIRET : 794 926 063 00023</li>
		<li>N° TVA : FR 27794 926 063</li>
		<li>N° de téléphone : 09 72 52 63 94</li>
		<li>Inscription registre des commerces : RCS Chartres</li>
		<br> 
		<li>Directeur de la publication : Anna Stepanoff, co-directrice</li>

		<h3>Information concepteur et hébergeur</h3>
		<li>Dénomination sociale : Wild Code School, école de La Loupe 
		18 rue de la Gare 28240 La Loupe . 09 72 52 63 93 <br> 
		Conçu par Jérémy Bouche, Ludovic Borbolla et Yoan Ficadière, élèves de la Wild Code School.</li>

		<p>Hébergé par :</p>
		<li>Une déclaration auprès de la CNIL a été déposée le 1er juillet 2016.</li>

		<li>Innov’Educ s’efforce d'assurer au mieux que les informations accessibles par l'intermédiaire du site sont exactes et mises à jour. Cependant, Innov’Educ ne garantit en aucune manière que ces informations soient exactes, complètes et à jour.</li>

		<h3>Crédit photos</h3>
		
		<h3>Reproduction ou représentation</h3>
		<li>Le site est protégé par les lois régissant la propriété intellectuelle. Toute reproduction ou représentation, en tout ou partie, sans le consentement de Innov’Educ/Wild Code school est interdite.</li>

		<h3>Informatique et libertés</h3>
		<li>Innov’Educ se dégage de toutes responsabilités des images et/ou recettes publiées par les utilisateurs.</li>
		<li>Innov’Educ/Wild Code school ne peut en aucun cas être considéré comme responsable du résultat d'une des recettes présentes sur le site. Celles-ci sont données à titre indicatif et il est de la responsabilité des utilisateurs de ces recettes de veiller à ce qu'aucun risque ne résulte de la préparation ou de la consommation des produits en résultant.</li>

		<h3>Utilisateurs</h3> 
		<li>Conformément à la Loi Informatique et Libertés du 6 janvier 1978, vous disposez à tout moment d'un droit d'accès, de rectification et de suppression des données personnelles vous concernant. Si vous souhaitez exercer ce droit, il vous suffit de contacter  Innov’Educ/Wild Code school</li>
		
		<h3>Contact</h3>
		<p>Innov'Educ SAS<br>
		18 Rue de la Gare<br>
		28240 La Loupe</p>
		<p>Email: contact@wildcodeschool.fr</p>

		</div>
	</div>
</div>