<div class="col-md-12 menu">
  <center>
    <h2 class="titleMenu">Mes recettes</h2>
  </center>
</div>
<div class="col-md-8 col-md-offset-2 boutonMenu">
  <!-- creation de la partie entree -->
  <div class="col-md-4">
    <center>
      <button id="entree" class="btn btn-info btn-lg" ng-click="menuShow('entree')">
        ENTREES
      </button>
      <button type="button" class="btn btn-default btn-default" ng-click="locateEntre()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <button id="plat" class="btn btn-warning btn-lg" ng-click="menuShow('plat')">
        PLATS
      </button>
      <button type="button" class="btn btn-default btn-default" ng-click="locatePlat()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <button id="dessert" class="btn btn-warning btn-lg" ng-click="menuShow('dessert')">
        DESSERTS
      </button>
      <button type="button" class="btn btn-default btn-default" ng-click="locateDessert()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </center>
  </div>
</div>
</div>
