<div class="col-md-12 menu">
  <center>
    <h2 class="titleMenu">Mes recettes</h2>
  </center>
</div>
<div class="col-md-8 col-md-offset-2 boutonMenu">
  <!-- creation de la partie entree -->
  <div class="col-md-4">
    <center>
      <button id="entree" class="btn btn-info btn-lg" ng-click="menuShow('entree')">
        ENTREES
      </button>
      <button type="button" class="btn btn-default btn-default" ng-click="locateEntre()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <button id="plat" class="btn btn-warning btn-lg" ng-click="menuShow('plat')">
        PLATS
      </button>
      <button type="button" class="btn btn-default btn-default" ng-click="locatePlat()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <button id="dessert" class="btn btn-warning btn-lg" ng-click="menuShow('dessert')">
        DESSERTS
      </button>
      <button type="button" class="btn btn-default btn-default" ng-click="locateDessert()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </center>
  </div>
</div>
<div>
  <div class="description">
    <div class="container">
      <div class="col-md-6 col-md-pull-2">
        <div class="scroll-bar-wrap">
          <div ng-class="{'scroll-box' : recettes.length > 4}">
            <div ng-repeat="recette in recettes | filter : {userId: userId} | filter : {type: showRecette}" ng-show="userId">
              <div class="col-md-6" ng-init="$index == 0 ? pushtab(recette) : $index">
                <div class="cardtest">
                  <img class="RecetteImg" src={{recette.img}} alt=""/>
                  <div class="RecetteTitle">{{recette.titre}}</div>
                  <div class="row">
                    <div class="RecetteDescription">{{recette.description}}</div>
                    <div class="RecettePreparation">{{recette.preparation}}</div>
                    <div class="RecetteCuisson">{{recette.cuisson}}</div>
                  </div>
                  <button type="button" class="btn btn-success glyphicon glyphicon-cutlery col-md-push-9" ng-click="id(recette)"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Zone d'affichage -->
      <div class="col-md-6" ng-show="userId">
        <div class="scroll-bar-wrap-show">
          <div class="scroll-box-show " ng-show="recetteTab.length != 0">
            <div class="RecetteTitreA">{{recetteAffiche.titre}}</div>
            <div class="col-md-8">
              <img class="RecetteImgA" src={{recetteAffiche.img}} alt="image"/>
              <img class="RecetteImgA" src="{{recetteMarmiton.image}}" alt="image" />
            </div>
            <div class="col-md-4">
              <div class="preparationA">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                {{recetteAffiche.preparation}}</div>
              <div class="preparationA">
                <i class="fa fa-fire" aria-hidden="true"></i>
                {{recetteAffiche.cuisson}}</div>
            </div>
            <div class="col-md-12">
              <p class="textIngredient">Ingrédient:</p>
              <div class="RecetteIngredientA">{{recetteAffiche.ingredient}}</div>
              <p class="textIngredient">Recette:</p>
              <div class="RecetteRecetteA">{{recetteAffiche.recette}}</div>
            </div>
            <script type="text/javascript"></script>
          </div>
          <div class="cover-bar-show"></div>
        </div>
      </div>
    </div>
  </div>
</div>
