
<div class="row">
  <div class="col-md-offset-1 col-md-5 contEv">
      <div class="headingEvent">
        <h2 class="page-header" style="margin-top:0; padding-bottom: 0px;">Mes informations</h2>
      </div>
      <div class="container col-md-12">
              <h2>{{user.prenom}} {{user.name}}</h2>
        <div class="info">
          {{user.email}} <span class="glyphicon glyphicon-pencil fa-1" aria-hidden="true"></span>
        </div>
      </div>
  </div>
  <div class="col-md-offset-1 col-md-4 contEv">
    <div class="headingEvent">
      <h2 class="page-header" style="margin-top:0; padding-bottom: 0px;">Mes invitations</h2>
    </div>
    <div class="container col-md-12">
      <h2>lkdjf</h2>
    </div>
  </div>
</div>
