<div class="container contEv">
    <div class="headingEvent">
        <h2 class="page-header"> Mon compte</h2>
    </div>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs container col-md-12" role="tablist">
            <li role="presentation" class="active" style="cursor: pointer"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">Mes informations <span class="badge" style="margin-left:10px;" ng-show="nbEvents != 0">{{nbEvents}}</span></a></li>
            <li role="presentation" style="cursor: pointer"><a data-target="#amis" aria-controls="profile" role="tab" data-toggle="tab">Mes amis <span class="badge" style="margin-left:10px;" ng-show="nbInvit != 0">{{nbInvit}}</span></a></li>
            <li role="presentation" style="cursor: pointer"><a data-target="#passe" aria-controls="profile" role="tab" data-toggle="tab">Evènements passés <span class="badge" style="margin-left:10px;" ng-show="nbInvit != 0">{{nbInvit}}</span></a></li>
            <li role="presentation" style="cursor: pointer"><a data-target="#venir" aria-controls="profile" role="tab" data-toggle="tab">Evènements à venir <span class="badge" style="margin-left:10px;" ng-show="nbInvit != 0">{{nbInvit}}</span></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <!-- ========================== TAB EVENTS ===================== -->
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="container col-md-12" style="margin-top:20px;">
                    <div class="panel-group" id="accordion">

                        <div class="container col-md-12">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-6">
                                    <h2 ng-hide="adresseUserName" class="info">{{user.prenom}} {{user.name}} <span class="glyphicon glyphicon-pencil fa-1" aria-hidden="true" ng-click="adresseUserName = true"></h2>
                                    <div ng-show="adresseUserName">
                                        <p>
                                            <label for="prenom">Prénom </label>
                                            <input type="text" ng-model="user.prenom" name="prenom" value="">
                                        </p>
                                        <p>
                                            <label for="nom">Nom </label>
                                            <input type="text" ng-model="user.name" name="nom" value="">
                                        </p>
                                        <button id="" class="btn btn-warning btn-lg" ng-click="update(user,'adresseUserName')">
                                            Valider
                                        </button>
                                    </div>
                                    <div class="info" ng-hide="adresseEmail">
                                        {{user.email}} <span class="glyphicon glyphicon-pencil fa-1" aria-hidden="true" ng-click="adresseEmail = true"></span>
                                    </div>
                                    <div ng-show="adresseEmail">
                                        <p>
                                            <label for="email">Email </label>
                                            <input type="text" ng-model="user.email" name="email" value="">
                                        </p>
                                        <button id="" class="btn btn-warning btn-lg" ng-click="update(user,'adresseEmail')">
                                            Valider
                                        </button>
                                    </div>
                                    <div class="info">
                                        <h2>Mon adresse <span class="glyphicon glyphicon-pencil fa-1" aria-hidden="true" ng-click="adresse = true"></span></h2>
                                        <h3 ng-hide="user.adresse">Aucune adresse</h3>
                                        <div ng-hide="adresse">
                                            <p>N° {{user.adresse.num}}</p>
                                            <p>Rue {{user.adresse.rue}}</p>
                                            <p>Code Postal {{user.adresse.cp}}</p>
                                            <p>Ville {{user.adresse.ville}}</p>
                                            <p>Pays {{user.adresse.pays}}</p>
                                        </div>
                                    </div>
                                    <div class="adresse" ng-show="adresse">
                                        <p>
                                            <label for="N°">N° </label>
                                            <input type="text" ng-model="user.adresse.num" name="N°" value="">
                                        </p>
                                        <p>
                                            <label for="Rue">Rue </label>
                                            <input type="text" ng-model="user.adresse.rue" name="Rue" value="">
                                        </p>
                                        <p>
                                            <label for="Code Postal">Code Postal </label>
                                            <input type="text" ng-model="user.adresse.cp" name="Code Postal" value="">
                                        </p>
                                        <p>
                                            <label for="Ville">Ville </label>
                                            <input type="text" ng-model="user.adresse.ville" name="Ville" value="">
                                        </p>
                                        <p>
                                            <label for="Pays">Pays </label>
                                            <input type="text" ng-model="user.adresse.pays" name="Pays" value="">
                                        </p>
                                        <button id="" class="btn btn-warning btn-lg" ng-click="update(user,'adresse')">
                                            Valider
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div flow-init="{target: '/upload', singleFile: true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="uploader.flow" flow-files-added="processFiles($files)">

                                        <div ng-hide="user.img"><img class="imgProfile" src="./assets/user-default.png" alt="" alt="downloadicon" flow-btn flow-attrs="{accept:'image/*'}" type="file" id="btnImage" /></div>
                                        <div ng-show="user.img"><img class="imgProfile" src="{{user.img}}" alt="" alt="downloadicon" flow-btn flow-attrs="{accept:'image/*'}" type="file" id="btnImage" /></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- ========================== TAB AMIS =================================== -->
            <div role="tabpanel" class="tab-pane" id="amis">
                <div class="container col-md-12">
                    <div class="marginTop">
                        <form class="col-md-6">
                            <label>Rechercher un nouvel utilisateur</label>
                            <input list="friend" autocomplete="off" type="color: black" name="friend" ng-model="userName">
                            <datalist id="friend">
                                <div ng-repeat="user in users">
                                    <option ng-show="userId != user._id" value='{{user.prenom}} {{user.name}}'></option>
                                </div>
                            </datalist>
                        </form>
                        <a class="btn btn-info btn-sm" ng-click="addNewFriend(userName)"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                    </div>

                    <div ng-repeat='friend in friends'>
                        <div class="col-md-3">
                            <div class="card" ng-click="friendhistory(friend._id)">
                                <span class="glyphicon glyphicon-remove" ng-click="removeFriend(friend)"></span>
                                <img ng-hide="friend.img" class="imageProfileSmall center-block" src="./assets/user-default.png" alt="" />
                                <img ng-show="friend.img" class="imageProfileSmall center-block" src="{{friend.img}}" alt="" />
                                <div class="RecetteTitle">{{friend.prenom}}</div>
                                <div class="RecetteTitle"> {{friend.name}}</div>
                                <div class="row">
                                    <div class="RecetteDescription"></div>
                                    <div class="RecettePreparation"></div>
                                    <div class="RecetteCuisson"></div>
                                    <!-- <div class="RecettenbPersonne col-md-4">{{recette.nbrPersonne}}</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========================== TAB EVENTS PASSEES =================================== -->
            <div role="tabpanel" class="tab-pane" id="passe">
              <div class="container col-md-12" style="margin-top:20px;">
      					<div class="panel-group" id="accordion">

      						<div class="panel panel-default" ng-repeat="event in events  | filter : {userId: userId} | filter: dateFilter | orderBy: 'crEdateForm'">
      							<div class="panel-heading" ng-click="geocodeAddress(event)" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}" style="cursor: pointer">
      								<h3 class="panel-title" style="font-size: 1.5em;">
      										{{event.crEnameForm}}<span style="float: right; font-weight:bold;">{{formatDate(event.crEdateForm)}}</span>
      									</h3>
      							</div>
      							<div id="collapse{{$index}}" class="panel-collapse collapse">
      								<div class="panel-body">
      									<div class="row">
      										<div class="col-md-6">
      											<h4>Adresse évènements</h4>
      											<p>n° {{event.crEnumberForm}} rue {{event.crEwayForm}}</p>
      											<p>{{event.crEpostalcodeForm}} {{event.crEcityForm}}</p>
      										</div>
      										<div class="col-md-12">
      											<div ng-show='event.tabFriendEvent'>
      												<div ng-show='event.tabFriendEvent.length'>
        												<h4>Liste des invités</h4>
        											</div>
      											</div>

      											<div class="" ng-repeat="amis in event.tabFriendEvent">
      												<div class="col-md-3">
      													<div class="card padding" ng-click="friendhistory(amis._id)">
      														<img ng-show='amis.img' class="imageProfileSmall center-block" src="{{amis.img}}" alt="" />
      														<img ng-hide='amis.img' class="imageProfileSmall center-block" src="./assets/user-default.png" alt="" />
      														<div class="RecetteTitle">{{amis.prenom}}</div>
      														<div class="RecetteTitle"> {{amis.name}}</div>
      														<div class="row">
      															<div class="RecetteDescription"></div>
      															<div class="RecettePreparation"></div>
      															<div class="RecetteCuisson"></div>
      														</div>
      													</div>
      												</div>
      											</div>

      												<div class="row">
      												      <div class="col-md-12">
      																<div ng-show='event.tabRecetteEvent.length'>
      																	<h4>Menu</h4>
      																</div>

      											            <div ng-repeat="recette in event.tabRecetteEvent">
      												          	<div  ng-click="" style="cursor: pointer">
      												            	<div class="col-md-3 g_boxMiniRecipes" ng-click="id(recette)">
      												              		<img class="g_imgMiniRecipes col-md-12" src={{recette.img}} alt="image">
      												              		<div class="g_titleMiniRecipes col-md-10">{{recette.titre}}</div>
      												            	</div>
      												            </div>
      												         </div>
      												      </div>
      											   </div>

      										</div>
      									</div>
      								</div>
      							</div>
      						</div>

      					</div>
      				</div>
            </div>
            <!-- ========================== TAB EVENTS A VENIR =================================== -->
            <div role="tabpanel" class="tab-pane" id="venir">
              <div class="container col-md-12" style="margin-top:20px;">
      					<div class="panel-group" id="accordion">

      						<div class="panel panel-default" ng-repeat="event in events  | filter : {userId: userId} | filter: dateFilterNext | orderBy: 'crEdateForm'">
      							<div class="panel-heading" ng-click="geocodeAddress(event)" data-toggle="collapse" data-parent="#accordion" data-target="#collapseVenir{{$index}}" style="cursor: pointer">
      								<h3 class="panel-title" style="font-size: 1.5em;">
      										{{event.crEnameForm}}<span style="float: right; font-weight:bold;">{{formatDate(event.crEdateForm)}}</span>
      									</h3>
      							</div>
      							<div id="collapseVenir{{$index}}" class="panel-collapse collapse">
      								<div class="panel-body">
      									<div class="row">
      										<div class="col-md-6">
      											<h4>Adresse évènements</h4>
      											<p>n° {{event.crEnumberForm}} rue {{event.crEwayForm}}</p>
      											<p>{{event.crEpostalcodeForm}} {{event.crEcityForm}}</p>
      										</div>
      										<div class="col-md-12">
      											<div ng-show='event.tabFriendEvent'>
      												<div ng-show='event.tabFriendEvent.length'>
        												<h4>Liste des invités</h4>
        											</div>
      											</div>

      											<div class="" ng-repeat="amis in event.tabFriendEvent">
      												<div class="col-md-3">
      													<div class="card padding" ng-click="friendhistory(amis._id)">
      														<img ng-show='amis.img' class="imageProfileSmall center-block" src="{{amis.img}}" alt="" />
      														<img ng-hide='amis.img' class="imageProfileSmall center-block" src="./assets/user-default.png" alt="" />
      														<div class="RecetteTitle">{{amis.prenom}}</div>
      														<div class="RecetteTitle"> {{amis.name}}</div>
      														<div class="row">
      															<div class="RecetteDescription"></div>
      															<div class="RecettePreparation"></div>
      															<div class="RecetteCuisson"></div>
      														</div>
      													</div>
      												</div>
      											</div>

      												<div class="row">
      												      <div class="col-md-12">
      																<div ng-show='event.tabRecetteEvent.length'>
      																	<h4>Menu</h4>
      																</div>

      											            <div ng-repeat="recette in event.tabRecetteEvent">
      												          	<div  ng-click="" style="cursor: pointer">
      												            	<div class="col-md-3 g_boxMiniRecipes" ng-click="id(recette)">
      												              		<img class="g_imgMiniRecipes col-md-12" src={{recette.img}} alt="image">
      												              		<div class="g_titleMiniRecipes col-md-10">{{recette.titre}}</div>
      												            	</div>
      												            </div>
      												         </div>
      												      </div>
      											   </div>

      										</div>
      									</div>
      								</div>
      							</div>
      						</div>

      					</div>
      				</div>
            </div>
        </div>
    </div>
    <ng-map center="{{position}}" zoom="17" style="heigth:200px">
        <marker position="{{position}}" title=""></marker>
    </ng-map>
</div>
</div>
