
<div class="container">

	<div class="container col-md-12 contEv">
			<div class="headingEvent">
        <div class="row">
  				<h2 class="page-header col-md-6" style="margin-top:0; padding-bottom: 0px;"> Mes amis</h2>
          <form class="pull-right col-md-6">
            <label>Rechercher un nouvel utilisateur</label>
              <input list="friend" autocomplete="off" type="color: black" name="friend" ng-model="userName">
                <datalist id="friend">
                  <div ng-repeat="user in users">
                    <option ng-show="userId != user._id"value='{{user.prenom}} {{user.name}}'></option>
                  </div>
              </datalist>
              <button type="submit" class="btn btn-info" ng-click="addNewFriend(userName)"><i class="fa fa-user-plus fa-3" aria-hidden="true"></i></button>
          </form>
        </div>
			</div>
      <div>
        <div ng-repeat='friend in friends | filter : {userId: userId}'>
          <div class="col-md-3">
            <div class="card">
							<span class="glyphicon glyphicon-remove" ng-click="removeFriend(friend)"></span>
              <div class="RecetteTitle">{{friend.prenom}} {{friend.nom}}</div>
              <div class="row">
                <div class="RecetteDescription"></div>
                <div class="RecettePreparation"></div>
                <div class="RecetteCuisson"></div>
                <!-- <div class="RecettenbPersonne col-md-4">{{recette.nbrPersonne}}</div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
	</div>
</div>
