<div class="col-md-6 col-md-push-0">
  <div class="form-group bg">
    <div flow-init="{target: '/upload', singleFile: true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="uploader.flow" flow-files-added="processFiles($files)">
      <div class="addpic">
        <div ng-hide="y==1">
          <!-- Clique sur photo pour ajout d'image -->
          <p>Ajouter une photo</p>
          <button><img src="./assets/dessert/cam.png" alt="downloadicon" flow-btn flow-attrs="{accept:'image/*'}" type="file" id="btnImage"/></button>
        </div>
        <div ng-repeat="image in uploader.flow.files track by $index">
          <img ng-show="out" class="preview" flow-img="image"/>
          <img class="preview" ng-src="{{imageStrings[$index]}}"/>
          <span class="btn glyphicon glyphicon-trash trashColor" ng-show="$flow.files.length" ng-click="cancel(image)"></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="inputTitre" placeholder="Titre de votre Plat" ng-model="titre"><br>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="description"><br>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="inputPreparation" placeholder="Temp de preparation" ng-model="preparation"><br>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="inputCuisson" placeholder="Temp de cuisson" ng-model="cuisson"><br>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="inputIngredient" placeholder="Les ingrédients" ng-model="ingredient"><br>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="inputRecette" placeholder="La recette" ng-model="recette"><br>
    </div>
    <button type="submit" class="btn btn-success btn-lg" ng-click="add('plat')">Valider</button>
  </div>
  <button type="submit" class="btn btn-success btn-lg" ng-click="entree()">Entree</button>
  <button type="submit" class="btn btn-success btn-lg" ng-click="plat()">Plat</button>
  <button type="submit" class="btn btn-success btn-lg" ng-click="dessert()">Dessert</button>
</div>
