<div class="col-md-4 col-md-offset-4 connection">
  <div class="bs-callout bs-callout-danger" ng-show="(signupMessage.title != '')">
      <h4>{{signupMessage.title}}</h4>
      <p>{{signupMessage.message}}</p>
  </div>
  <div class="bs-callout bs-callout-success" ng-show="(username != '')">
      <h4>Compte créé !</h4>
      <p>Redirecting...</p>
  </div>
  <form name="formCreate">
    <div class="form-group">
      <label for="inputName">Nom</label>
      <input type="text" class="form-control" id="inputName"
      placeholder="Nom" ng-model="user.name" ng-required="true">
    </div>
    <div class="form-group">
      <label for="inputName">Email</label>
      <input type="text" class="form-control" id="inputEmail"
      placeholder="Email" ng-model="user.email" ng-required="true">
    </div>
    <div class="form-group">
      <label for="inputName">Mot de Passe</label>
      <input type="password" class="form-control" id="inputPass"  name="inputPass"
      placeholder="mot de passe" ng-model="user.password" ng-required="true">
    </div>
    <div class="form-group" ng-class="{ 'has-error': formCreate.inputConfirmPass.$error.passwordMatch }">
      <label for="inputName">Confirmer Votre Mot de Passe </label>
      <input type="password" class="form-control" id="inputConfirmPass" name="inputConfirmPass"
      placeholder="Confirmer votre mot de passe" ng-model="confirm_password" ng-required="true" check-password="inputPass">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success col-sm-5"
        ng-disabled="formCreate.$invalid" ng-click="signup()">Créer</button>
        <a class="btn btn-danger col-sm-5 col-sm-offset-2" href="#/">Annuler</a>
    </div>
  </form>
</div>
