<div class="container contEv">
  <div class="headingEvent">
    <h2 class="page-header" style="margin-top:0; padding-bottom: 0px;">
      Création de votre {{eat}}</h2>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-push-4 text-center">
      <img class="top" src="./assets/desserts/success.png" alt="success"/>
      <p class="success-text top">Vous avez créé votre recette avec succès</p>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-md-3 col-md-push-1 text-center">
      <p class="success-text">Retour aux recettes</p>
      <a href="#/mes_recettes"><button type="button" class="btn btn-success">Mes Recettes</button></a>
    </div>
    <div class="col-md-3 col-md-push-5 text-center">
      <p class="success-text">Créer une nouvelle recette</p>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Type
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <a href="#/ajouter_une_entree">Entrée</a>
          </li>
          <li>
            <a href="#/ajouter_un_plat">Plat</a>
          </li>
          <li>
            <a href="#/ajouter_un_dessert">Dessert</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
