body {
	background-color: #fff;
	margin: 0;
	padding: 0;
}
/* suppression bar de nav */
.allRecipesNav {
	display: none;
}
/* suppression image recette */
#imgN {
	display: none;
}
/* suppression des votes */
.lineVote {
	display: none;
}

.g_titleRecipe {
	position: relative;
	bottom: cm;
}
/*suppression du type */
.g_typeRecette {
	display: none;
}
.infoLineRecipe {
	display: inline-flex;
	position: relative;
	top: 10mm;
	left: 4cm;
}

.btnClose {
	display: none;
}
.btnMoreInfo {
	display: none;
}
.seeRecipeContainer {
	border:none;
}

.box55 {
	position: relative;
	top: 1cm;
}

#commentary {
	display: none;
}