
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* COLOR:
* Orange: #F8AC37;
*
*/

/* ----------------------------------------------
*         Connexion
*         Left Menu
*         Home Css
*         Event Css
*
*
--------------------------------------------------*/

.hamburger{
  margin-left: 50px;
}
#bs-navbar{
  margin-left: 400px;
}
.title {
  font-family: 'Yesteryear', Pacifico, cursive;
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 0px;
}
.page{
  margin-top: 60px;
}
.fa-3 {
  font-size: 1.8em;
  margin-left: 15px;
  margin-right: 15px;
}
.fa-1{
  font-size: 1.2em;
  color: white;
  margin-left: 15px;
}
.fa-12{
  color: #F8AC37;
  cursor: pointer;
}
.imgProfile{
  border-radius: 100px;
  border: 1px solid black;
  width: 150px;
  height: auto;
}
.imageProfileSmall{
  border-radius: 100px;
  border: 1px solid black;
  width: 80px;
  height: auto;
}
/* ===========================================*\
                    Connection
\* ===========================================*/

.connection {
  margin-top: 12%;
  background-color: rgba(236, 240, 241, 0.7);
  border-radius: 5px;
  padding: 20px;
}
.connection h3{
  font-family: 'Yesteryear', Pacifico, cursive;
  margin-bottom: 30px;
}
input[type="text"], input[type="password"] {
  padding: 10px;
  border: none;
  border-bottom: solid 3px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus,
input[type="password"]:focus,
input[type="password"].focus {
  border-bottom: solid 3px #F8AC37;
}
.compte {
  margin-bottom: 15px;
}
/* ===========================================*\
                End Connection
\* ===========================================*/
body{
    background: url('/assets/pasta.jpg') fixed;
    background-size: cover;
}

.navbar-border{
  border-bottom: 3px solid #F8AC37;
}

.navbar-header img{
  transition: 0.4s;
}

.navbar-header img:hover{
  transform: rotate(360deg);
}

.sub-login-form{
  text-align: center;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* ----------------- *\
    BS CALLOUT
\* ----------------- */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

/* SUCCESS */
.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

/* INFO */
.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

/* WARNING */
.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

/* DANGER */
.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-danger h4 {
    color: #ce4844;
}

.dropdown-header {
    font-family: 'Yesteryear', cursive;
    font-size: 1.7em;
    color: black;
}



/*=======================================================
                      Left Menu
========================================================*/
body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 90px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 10px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

  /*------------------------------------------------------
                        End Left Menu
  ========================================================*/

/*==========================================================
                        HOME CSS
-------------------------------------------------------------*/
#hero {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
}
#hero h1{
  font-family: 'Yesteryear', Pacifico, cursive;
  color : white;
  font-size: 4em;
  margin-bottom: 50px;
}

.dessins {
  margin-top: 120px;
}
.containerMiddle {
  background-color: #e2e0e0;
  padding: 50px;
}
.botTitle{
  margin-bottom: 90px;
  font-family: 'Yesteryear', Pacifico, cursive;
  font-size: 50px;
}
.boutonRecette{
  margin-bottom: 50px;
  font-family: 'Yesteryear', Pacifico, cursive;
  font-size: 40px;
  cursor:pointer;
}
.homeCenterTitle {
  margin-bottom: 50px;
  font-family: 'Yesteryear', Pacifico, cursive;
  font-size: 50px;
}


.cuver:before {
  top: 52px;
  left: 5px;

  transform: rotate(-5deg);
  box-shadow: 7px 6px 15px #333;
}
.cuver:after {
  top: 52px;
  right: 5px;

  transform: rotate(5deg);
  box-shadow: -7px 6px 15px #333;
}
/*---------------------------------------------------------
                      END HOME CSS
==========================================================*/

/* =========================================================
         EVENT CSS
---------------------------------------------------------- */
/* ****** recette check ************ */
.gly {
  color: rgba(189, 195, 199,0.7);
  font-size: 1.6em;
}
.gly-checked{
  color: green;
}

/*** Events page ***/
.mainContainerEvent {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.contEv {
   background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
}

.ntev {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.nomEvent {
  color: red;
}

.circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 116px;
}

.headingEvent {
  background-color: #F8AC37;
  font-family: 'Yesteryear', cursive;
  font-size: 3.5em;
  color: #fff;
  border-radius: 5px 5px 0 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  height: 55px;
}
.headingEvent, label{
  font-size: 1.2em;
}
input {
  color: black;
  font-family: 'arial';
}
.content {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #a9a9a9;
}

.content img {
  font-size: 4em;
  transition: .3s cubic-bezier(0, .25, .3, 2);
  -webkit-transition: .3s cubic-bezier(0, .25, .3, 2);
  -moz-transition: .3s cubic-bezier(0, .25, .3, 2);
  -o-transition: .3s cubic-bezier(0, .25, .3, 2);
  -ms-transition: .3s cubic-bezier(0, .25, .3, 2);
}

/*** formulaire 3 - recherche d'amis ***/
.searchable-container{margin:20px 0 0 0}
.searchable-container label.btn-default.active{background-color:#F8AC37;color:#FFF}
.searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:5px 8px 8px 0 #ccc;}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:95%}
.searchable-container .btn span.glyphicon{
    opacity: 0;
}

.searchable-container .btn.active span.glyphicon {
    opacity: 1;
} /* End formulaire 3 - recherche d'amis */

/************ create Event page ************/


.form-control {
  margin-bottom: 10px;
}

.creformhome{
  margin-top: 180px;
  margin-left: 60px;
}

.blocForm2CreateEvent {
  position: fixed;
}
.createEventMenu {
  background-image: url('../assets/tableau_resto.png');
  background-repeat: no-repeat;
  height: 450px;
  width: 362px;
  box-shadow: 5px 5px 15px 2px;
}

.btnCreateEventMenu {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 95px;
  position: relative;
  top: 144px;
}

.bcem {
  font-family: 'Yesteryear', cursive;
  font-size: 1.9em;
  margin-bottom: 5px;
}


/*.box {
  width: 100%;
  height: 200px;
  display: inline-block;
  border: 1px solid;
  background-size: cover;
  background-position-y: 66%;
}
.imgPresentationMenu {
    background-image: url("../assets/backhome.jpg");
}*/

/* Create Event - form 2
--------------------------*/
/* sidebar */
.sidebarLeft2 {
  margin-top: 85px;
}
.sidebarLeft2-1 {
  margin-top: 50px;
  padding-top:10px;
  background-color: #F8AC37;
  height: 120px;
  border-radius: 5px 5px 0 0;
}
.sidebarLeft2-2 {
  margin-top: 15px;
}
.sidebarLeft2-2 li {
  list-style-type: none;
}


/* button menu sidebar */
.btnMenuSidebar {
  font-weight: bold;
  font-size: 2rem;
  color: #333333;
  border-bottom: 1px solid #333;
}
.btnMenuSidebar:hover {
  font-weight: bold;
  font-size: 2rem;
  color: #333333;
  text-decoration: none;
  background-color: #e2e0e0;
  border-bottom: 1px solid #333;
}
.btnAppetizerSidebar {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333333;
  width: 233px;
}
.btnAppetizerSidebar:hover {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333333;
  text-decoration: none;
  background-color: #e2e0e0;
}
.btnMainSidebar {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333333;
  width: 233px;
}
.btnMainSidebar:hover {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333333;
  text-decoration: none;
  background-color: #e2e0e0;
}
.btnDessertSidebar {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333333;
  width: 233px;
}
.btnDessertSidebar:hover {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333333;
  text-decoration: none;
  background-color: #e2e0e0;
}

/* triangle in sidebar */
.triangle1 {
  display: inline-block;
  border-left: 22px solid #f8ac37;
  border-top: 60px solid #f8f8f8;
  border-bottom: 60px solid #f8f8f8;
  height: 120px;
  position: absolute;
  top: 50px;
}
.triangle2 {
  display: inline-block;
  border-top: 33px solid #f8ac37;
  border-left: 132px solid #f8f8f8;
  border-right: 132px solid #f8f8f8;
  width: 263px;
}
.contentMenu {
  border: 1px dotted #333;
  border-radius: 5px;
  margin-top: 28px;
  margin-bottom: 25px;
  height: 600px;
  overflow-y: scroll;
}
.btn-link-back {
  color: #333333;
  text-decoration: none;
}
.btn-link-back:hover {
  color: #333333;
  border: 2px solid #333333;
  border-radius: 5px;
}
.btn-link-next {
  color: #333333;
  text-decoration: none;
}
.btn-link-next:hover {
  color: #333333;
  border: 2px solid #333333;
  border-radius: 5px;
}

.sidebarLeft1 {
  margin-top: 85px;
}
.sidebarLeft1-1 {
  margin-top: 50px;
  padding-top:10px;
  background-color: #F8AC37;
  height: 120px;
  border-radius: 5px 0 0 5px;
}
.contentFriend {
  margin-top: 28px;
}

.btnAddMenuEvent {
  border-radius: 50%;
  width: 38px;
  height: 36px;
  position: relative;
  top: 65px;
  left: 9px;
}

/*************************************************************************************************************
ZONE DE TEST
------------- */

.carousel-fade {
  height: 570px;
}
.carousel-inner .item {
  text-align: center !important;
}
@media (max-width: 570px) {
  .carousel-control.left {
    left: 0;
  }
  .carousel-control.right {
    right: 0;
  }
}

.carousel-inner h1 {
  text-align: center;
  color: #fff;
  font-family: 'yesteryear';
  font-size: 8rem;
  margin-top:156px;
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity:0;
}

.carousel.carousel-fade .active.item {
  opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.nextDown {
  text-align: center;
}
.nextDown:hover {
  border: 6px solid #F8AC37;
  border-radius: 2em;
}

.down-chevron {
  width: 100px;
}
/***************************************************************************************************************/
.foodbox{
    h4 {
        margin-top: 6px !important;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 20px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .thumbnail {
        padding: 0px !important;
        border: 0px solid rgba(78, 78, 78, 0.36);
        box-shadow: 1px 1px 1px #929292;
        border-radius: 2px;
        max-width: 262px;
        max-height: 238px;
        background: #fff;
    }
    p {
        color: rgba(51, 51, 51, 0.63);
    }
    .responsive p {
        margin: 0 0 0px !important;
        font-size: 14px;
    }
    .responsive {
        float: left;
        box-sizing: border-box;
    }
    .vegnonveg {
        width: 12%;
        padding: 14px 5px;
    }
    .contentPart {
        width: 63%;
        padding: 5px 5px;
    }
    .cartPart {
        width: 37%;
        padding: 13px 5px;
    }
    .thumbnail .caption {
        padding: 5px 9px;
    }
    .pricesection {
        position: absolute;
        top: 5px;
        z-index: 99999;
    }
    .pricesection {
        /*       width: 262px; */
        /* background: rgba(0,0,0,0.4); */
        max-width: 262px;
        width: 90%;
    }
    .foodDesc {}
    .pricesection h3 {
        color: #fff !important;
    }
    .pricesection .h3 {
        color: #fff !important;
        background: rgba(0, 0, 0, 0.47);
        border-radius: 4px;
        font-size: 16px;
        padding: 5px;
        font-weight: 500;
        cursor: default;
        box-sizing: border-box;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }
    .pricesection .h3:hover {
        background: rgba(0, 0, 0, 0.77);
    }
    .fifty {
        width: 50%;
        padding: 8px 10px;
    }
    .addRemoveButton {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background: transparent;
        /* color: #333; */
        line-height: 0.9;
        font-size: 15px;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }
    .addButton {
        border-color: #EA485F;
        color: #EA485F;
    }
    .addButton:hover {
        background: #EA485F;
        color: #fff;
    }
    .removeButton {
        border-color: rgba(0, 0, 0, 0.45);
        color: rgba(0, 0, 0, 0.45);
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }
    .removeButton:hover {
        border-color: rgba(0, 0, 0, 0.69);
        color: rgba(0, 0, 0, 0.69);
    }
    .vegNonvegIcon {
        margin-top: -4px;
    }
    img {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    p {}
    p.foodDesc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 20px;
        /* fallback */
        -webkit-line-clamp: 1;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .itsSoldOut {
        padding: 2px 5px;
        background: #FF5722;
        color: #fff;
    }
    .fillingFast {
        padding: 2px 5px;
        background: #FF9800;
        color: #fff !important;
    }
    .clearfix{
        max-width: 262px;
        /* max-height: 238px; */
    }
    .foodMoreDesc {
        display: none;
        padding: 14px;
        background: #fff;
        position: absolute;
        bottom: 21px;
        left: auto;
        max-width: 262px;
        z-index: 999;
        overflow: hidden;
        text-overflow: ellipsis;
        /* display: -webkit-box; */
        max-height: 122px;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        color: #6B6B6B;
        margin-top: 10px;
    }
    .closeDesc {
        color: #fff;
        background: #FF5722;
        height: 22px;
        width: 22px;
        display: block;
        text-align: center;
        border-radius: 2px;
        position: static;
        text-decoration: none;
        float: right;
    }
    .closeDesc i {
        color: #fff;
    }
    p.foodDesc a {
        color: #E91E63;
        text-decoration: none;
    }
    p.foodDesc a:hover {
        color: #E6539C;
    }
}


.boxfriend {
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 25px;
    border: 1px dotted #333;
    border-radius: 5px;
}


.myfoot {
  width: 953px;
}


@media (max-device-width: 480px) {
  .createEventMenu {
    width: 340px;
    height: 450px;
    background-position: top;
    position: relative;
    top: 76px;
  }
}



/********************************************************************
          / END EVENT CSS  !!
**************************************************************************/





/*==========================================================
                        MENU CSS
==========================================================*/
.boutonMenu {
  margin-top: 30px;
}
.menu {
  margin-top: 30px;
  color: white;
}
.modalMenu {
  margin-top: 14%;
}
.imgRecette img {
  width: 100%;
  height: auto;

}

/*==========================================================
                      END MENU CSS
==========================================================*/


/*==========================================================
                      Image CSS
==========================================================*/

      .creds {
        text-align: center;
        color: #666;
        font-size: 0.85em;
      }
      .creds a {
        color: #000;
        text-decoration: none;
        border-bottom: 1px dotted #000;
      }
      .flip-menu{
      margin: 30px 0 0;
      }
      .flip-item-wrap{
      width: 25%;
        height: auto;
        float: left;
      position:relative;
      -webkit-perspective:800px;
         -moz-perspective:800px;
          -ms-perspective:800px;
           -o-perspective:800px;
              perspective:800px;
      }
      @media screen and (min-width: 1280px) {
        .flip-item-wrap{
        width: 16.6%;
        }
      }
      @media screen and (max-width: 979px) {
        .flip-item-wrap{
        width: 33.3%;
        }
      }
      @media screen and (max-width: 639px) {
        .flip-item-wrap{
        width: 50%;
        }
      }
      @media screen and (max-width: 379px) {
        .flip-item-wrap{
        width: 100%;
        }
      }
      .flip-item-wrap img{
      width:100%;
      height:auto;
      display:block;
      margin:0;
      }
      .flip-item-wrap input{
      display: none;
      }
      .flip-item-wrap .fake-image{
      visibility: hidden;
      }
      .flip-item{
      display: block;
      width:100%;
      height:100%;
      float:left;
      position:absolute;
      top:0;
      left:0;
      cursor:pointer;
      color:#fff;
      -webkit-transform-style:preserve-3d;
         -moz-transform-style:preserve-3d;
          -ms-transform-style:preserve-3d;
           -o-transform-style:preserve-3d;
              transform-style:preserve-3d;
      -webkit-transition:-webkit-transform 1s;
         -moz-transition:   -moz-transform 1s;
           -o-transition:     -o-transform 1s;
              transition:        transform 1s;
      }
      .flip-item figure{
      display:block;
      position:absolute;
      width:100%;
      height:100%;
      margin:0;
      -webkit-backface-visibility:hidden;
         -moz-backface-visibility:hidden;
          -ms-backface-visibility:hidden;
           -o-backface-visibility:hidden;
              backface-visibility:hidden;
      }
      .flip-item .back{
      width:100%;
      display:block;
      margin:0;
      -webkit-transform:rotateY( 180deg );
         -moz-transform:rotateY( 180deg );
          -ms-transform:rotateY( 180deg );
           -o-transform:rotateY( 180deg );
              transform:rotateY( 180deg );
      }
      .flipper:checked + .flip-item{
      -webkit-transform:rotateY( 180deg );
         -moz-transform:rotateY( 180deg );
          -ms-transform:rotateY( 180deg );
           -o-transform:rotateY( 180deg );
              transform:rotateY( 180deg );
      }
      .flip-item-desc{
      background: rgba(0,0,0,0.2);
      width:90%;
      height:90%;
      padding:5%;
      position:absolute;
      top: 0;
      left: 0;
      text-shadow:1px 2px 1px rgba(0,0,0,0.9);
      overflow:hidden;
      }
      .flip-item-title{
      font-size: 1.5em;
      margin: 1em 0 0.8em;
      }

  /*==========================================================
                        Image CSS
  ==========================================================*/


  /*==========================================================
                        CARD CSS
  ==========================================================*/

  .cardtest{
    background: white;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
    height: 300px;
    margin-top: 30px;
  }
  .card{
    background: white;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
    margin: 10px;
    cursor: pointer;
  }

  /*==========================================================
                      END  CARD CSS
  ==========================================================*/

  /*==========================================================
                      Delete dataList Arrow
  ==========================================================*/
input::-webkit-calendar-picker-indicator {
  display: none;
}
/*==========================================================
                    End delete dataList Arrow
==========================================================*/
