.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.bg{
  background-color: white;
  margin-top: 20%;
  padding-bottom: 20px;
}
.preview {
    width: 100%;
    height: auto;
}

.addpic{
  border: dashed 2px;
  /*padding-top: 60px;
  padding-bottom: 60px;*/
  text-align: center;
  background-color: #D3D3D3;

}
#inputTitre{
  margin-top: 15px;
}

.test{
  font-size: 200px;

}

.demo{
  background: white;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
  height: 600px;
  margin-top: 30px;
}

/*CARD*/
.RecettePreparation{
  text-align: center;
}
.RecetteCuisson{
  text-align: center;
}
.RecetteDescription{
  text-align: center;
  font-size: 1.2em;
}

.RecetteImg{
  width:  100%;
  height: 170px;
}

.RecetteTitle{
  text-align: center;
  font-size: 1.5em;
}
.RecetteImgA{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.RecetteTitreA{
  text-align: center;
  font-size: 2em;
}
.RecetteRecetteA{
}

.RecetteIngredientA{
  padding-bottom: 30px;
}

.textIngredient{
  font-size: 1.7em;
}

.changepage{
  text-align: center;
  font-size: 2em;
}

.boutonActive{
  color: Red;
}

.titleMenu{
  color: white;
}
.textIngredient{
  font-family: 'Pacifico', cursive;
}